[submodule "aosp-source/build"]
	path = aosp-source/build
	url = https://android.googlesource.com/platform/build
[submodule "aosp-source/core"]
	path = aosp-source/core
	url = https://android.googlesource.com/platform/system/core
[submodule "aosp-source/libbase"]
	path = aosp-source/libbase
	url = https://android.googlesource.com/platform/system/libbase
[submodule "aosp-source/libziparchive"]
	path = aosp-source/libziparchive
	url = https://android.googlesource.com/platform/system/libziparchive
[submodule "aosp-source/zopfli"]
	path = aosp-source/zopfli
	url = https://github.com/google/zopfli.git
